<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://angular.io/" target="_top">para apreder Angular 2 </a>
    </p>
    <p>
        <a href="hhttp://localhost:8080/register" target="_top">integrantes: john james londoño y lina delgado</a>
    </p>
</div>